:root {
    --white: #ffffff;
    --black: #1c2237;
    --accent-lavender: #7f6cfe;
    --violet: #874dd6;
    --light-violet: #d3b2ff;
    --light-blue: #d3e8ff;
    --bg-popup: rgba(153, 161, 177, 0.5);
    --red: #ea636d;
}
